.woocommerce_account_licenses {
    table.my_account_licenses {
        font-size: .875em;

        td.license-key {
            font-family: Consolas, monospace;
            font-size: 13px;
            white-space: nowrap;
        }

        td.actions {
            white-space: nowrap;

            form {
                margin: 0;
                display: inline-block;
            }
        }
    }
}